/* App.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000; /* Adjust based on your background */
  text-align: center;
}

.text-wrapper {
  font-size: 2rem;
  color: #fff; /* Adjust based on your design */
  display: inline-flex;
  align-items: center;
}

.text-container {
  position: relative;
  height: 2rem; /* Adjust based on your font size */
  overflow: hidden;
  display: inline-block;
}

.text {
  font-size: 2rem;
  color: #fff; /* Adjust based on your design */
  animation: swipeUp 4s infinite;
}

.description {
  color: #fff; /* Adjust based on your design */
  margin-top: 1rem;
  font-size: 1rem;
}

@keyframes swipeUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  /* 20% {
    transform: translateY(50%);
    opacity: 1;
  } */
  50% {
    transform: translateY(-10%);
    opacity: 1;
  }
  /* 80% {
    transform: translateY(-50%);
    opacity: 1;
  } */
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
